<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li >{{ site.title | escape }}</li>
          <li><a href="mailto:{{ site.email }}" style="color: #b0b0b0;">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <p style="color: #b0b0b0;">{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
